<h1>{{title}}</h1>
<p> version: {{version}} </p>

<p>Get info about the weather: <a href="/weather">/weather</a> </p>

<p>Get info about the weather/<mark>city</mark> <a href="/weather/copenhagen">/weather/<mark>copenhagen</mark> </a> </p>
